<h1>To Do List</h1>

<form action="/" method="post" id="addNewItem">
	<label for="item">Add new item: </label><input type="text" name="item" required="true">
	<input type="submit">
</form>

{{#if todos}}

	<ul class="todo-list">
		
	
	{{#each todos}}
		<li class="todo-item" data-id="{{_id}}">
			<form action="/" method="post" id="update-{{_id}}">
				<span>{{text}}</span>
				<input type="text" name="updateTodo" value="{{text}}" placeholder="{{text}}">
				<input type="hidden" value="{{_id}}" name="todoId">
				<input type="submit" value="Save">
			</form>
		</li>
	{{/each}}
	</ul>

</form>
{{/if}}